:root {
  /* BASE COLORS  */
  --color-primary-100: #162f16;
  --color-primary-200: #0c6980;
  --color-primary-300: #00a8a8;
  --color-primary-400: #b1e0e4;
  --color-primary-dark: var(--color-primary-200);
  --color-primary-light: var(--color-primary-400);
  --color-primary-medium: var(--color-primary-300);

  /* SEMANTIC COLORS */
  --background-color-dark: var(--color-primary-100);
  --site-bg: var(--background-color-dark);
  --hero-bg: linear-gradient(
    -54deg,
    var(--color-primary-100) -23%,
    var(--color-primary-medium),
    var(--color-primary-100) 51%
  );
  --color-linkedin: #0073b1;
  --color-pdf: #dc3545;

  /* TEXT COLORS */
  --text-gradient: linear-gradient(
    270deg,
    var(--color-primary-dark) 0%,
    var(--color-primary-medium) 60%
  );
}

* {
  box-sizing: border-box;
}

html {
  font-family: Kodchasan, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: var(--site-bg);
  /* color: var(--color-text-light); */
}

.color__gradient {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.kodchasan-extralight {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kodchasan-light {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kodchasan-regular {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kodchasan-medium {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kodchasan-semibold {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kodchasan-bold {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kodchasan-extralight-italic {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kodchasan-light-italic {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kodchasan-regular-italic {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kodchasan-medium-italic {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kodchasan-semibold-italic {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kodchasan-bold-italic {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 700;
  font-style: italic;
}
